<!--REUSABLE LAYOUT-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%- locals.title %></title> <!--title replaced dynamically depending on what page we are on-->
    <meta name= "description" content="<%- locals.description %>"> <!--does same for description for page-->
</head>
<body>
   <%- body %> <!--creates reusable templete, where homepage is rendered-->
</body>
</html>